@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>

<table>
    <tr>
        <td>اول: </td>
        <td id="alpha"></td>
    </tr>
    <tr>
        <td>دوم: </td>
        <td id="beta"></td>
    </tr>
    <tr>
        <td>سوم: </td>
        <td id="gamma"></td>
    </tr>
</table>

<div id="toggleFreeze">
    ثابت نگه دارید: <input type="checkbox" id="freeze" onclick="toggleFreeze()" />
    <p id="text" style="display:none;">د</p>
</div>

<div>
    <img id="imgLogo" src="https://DeviceOrientationAPI.jackslater.ir/67DD8CDD-8A1C-44A1-AAC9-CFBAEB60.gif" />
</div>

<script src="~/lib/@@microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>